@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "aside"
        "aside"
        "footer"
    ; 

    grid-template-columns: 1fr ;

    

    background-image: url("https://www.google.com.br/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fgvbrielgms%2Fvasco-da-gama-wallpapers%2F&psig=AOvVaw3OqMHwZbjfuT3w6GLfiizm&ust=1677427854173000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCLDzovKHsf0CFQAAAAAdAAAAABAD")
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 90%;}

p{
    color: white;
}

div#luacheia {
    background-image: url("./Momentos/messi.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh !important;
    box-shadow: 1px 1px 10px black;
    margin-bottom: 60px;
    position: relative;
}

div#boasvindas {
   background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 10px black;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#boasvindas > h1 {
    color: white;
    font-family: 'nunito';
    font-size: 45px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 10px white;
    color: red
    text-shadow: 3px 3px 30px red;}

div#boasvindas > h1:hover {
    text-shadow: 1px 1px 10px white;
}

div#boasvindas > h1 > span {
    color: red
}

div#boasvindas > h1 > span:hover {
    text-shadow: 3px 3px 30px red;
}



@media (max-width: 1000px) {
    div#boasvindas > h1 {
        font-size: 35px;
    }

    div#boasvindas > img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 800px) {
    div#boasvindas > h1 {
        font-size: 30px;
    }

    div#boasvindas > img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 650px) {
    div#boasvindas > h1 {
        font-size: 25px;
    }

    div#boasvindas > img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 550px) {
    div#boasvindas > h1 {
        font-size: 23px;
    }

    div#boasvindas > img {
        width: 35px;
        height: 35px;
    }
}

div#introducao {
    padding: 20px 0px;
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 10px black;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#introducao > p {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}



@media (max-width: 1200px) {
    div#introducao > h2 {
        font-size: 32px;
    }

    div#introducao > p {
        font-size: 27px;
    }
}

@media (max-width: 1100px) {
    div#introducao > h2 {
        font-size: 30px;
    }

    div#introducao > p {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#introducao > h2 {
        font-size: 28px;
    }

    div#introducao > p {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    div#introducao > h2 {
        font-size: 26px;
    }

    div#introducao > p {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    div#introducao > h2 {
        font-size: 24px;
    }
}

@media (max-width: 830px) {
    div#introducao > h2 {
        font-size: 23px;
    }

    div#introducao > p {
        font-size: 19px;
    }
}

@media (max-width: 790px) {
    div#introducao > h2 {
        font-size: 22px;
    }

    div#introducao > p {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    div#introducao > h2 {
        font-size: 22px;
    }

    div#introducao > p {
        font-size: 16px;
    }
}

div#identidade {
    background-color: rgba(0, 0, 0, 0.623);
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
    box-shadow: 1px 1px 15px white;
    border-radius: 10px;
    padding-bottom: 15px;
    padding: 30px 30px 45px 30px;
    
}

@media (max-width: 1100px) {
    div#identidade {
        width: 800px;
    }
}

@media (max-width: 900px) {
    div#identidade {
        width: 650px;
    }
}

@media (max-width: 790px) {
    div#identidade {
        width: 550px;
    }
}

@media (max-width: 630px) {
    div#identidade {
        width: 450px;
    }
}

@media (max-width: 500px) {
    div#identidade {
        width: 360px;
    }
}

@media (max-width: 450px) {
    div#identidade {
        width: 300px;
    }
}

@media (max-width: 370px) {
    div#identidade {
        width: 290px;
    }
}

div#identidade > h2 {
    color: white;
    font-family: 'Nunito';
    font-size: 25px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px white;
}


@media (max-width: 1200px) {
    div#identidade > h2 {
        font-size: 32px;
    }

    div#identidade > h2#caminho {
        font-size: 32px;
    }
}

@media (max-width: 1100px) {
    div#identidade > h2 {
        font-size: 30px;
    }

    div#identidade > h2#caminho {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#identidade > h2 {
        font-size: 28px;
    }

    div#identidade > h2#caminho {
        font-size: 28px;
    }
}

@media (max-width: 950px) {
    div#identidade > h2 {
        font-size: 26px;
    }

    div#identidade > h2#caminho {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    div#identidade > h2 {
        font-size: 24px;
    }

    div#identidade > h2#caminho {
        font-size: 24px;
    }
}

@media (max-width: 830px) {
    div#identidade > h2 {
        font-size: 23px;
    }

    div#identidade > h2#caminho {
        font-size: 23px;
    }
}

@media (max-width: 790px) {
    div#identidade > h2 {
        font-size: 22px;
    }

    div#identidade > h2#caminho {
        font-size: 22px;
    }
}

@media (max-width: 700px) {
    div#identidade > h2 {
        font-size: 22px;
    }

    div#identidade > h2#caminho {
        font-size: 22px;
    }
}

div#fotolinda {
    padding: 30px 30px 45px 30px;
}

@media (max-width: 1100px) {
    div#fotolinda {
        width: 800px;
    }
}

@media (max-width: 900px) {
    div#fotolinda {
        width: 650px;
    }
}

@media (max-width: 790px) {
    div#fotolinda {
        width: 550px;
    }
}

@media (max-width: 630px) {
    div#fotolinda {
        width: 450px;
    }
}

div#fotolinda > p.coracao {
    color: red;
    text-shadow: 0.1px 0.1px 2px red;
}

div#fotolinda > p.coracao:hover {
    color: yellow;
    text-shadow: 0.1px 0.1px 2px yellow;
}

div#fotolinda > p#esquerda {
    display: inline-block;
    float: left;
    font-size: 26px;
    width: 342px;
    margin-left: 0px;
}

@media (max-width: 1100px) {
    div#fotolinda > p#esquerda {
        font-size: 20px;
        width: 245px;
        margin-left: 25px;
    }
}

@media (max-width: 900px) {
    div#fotolinda > p#esquerda {
        font-size: 15px;
        width: 180px;
        line-height: 1.6em;
        margin-left: 21px;
    }
}

@media (max-width: 790px) {
    div#fotolinda > p#esquerda {
        font-size: 12px;
        width: 140px;
        line-height: 1.7em;
        margin-left: 21px;
    }
}

@media (max-width: 630px) {
    div#fotolinda > p#esquerda {
        font-size: 9px;
        width: 115px;
        line-height: 1.9em;
        margin-left: 20px;
    }
}

@media (max-width: 500px) {
    div#fotolinda > p#esquerda {
        font-size: 7px;
        width: 90px;
        line-height: 2.4em;
        margin-left: 0px;
    }
}

@media (max-width: 450px) {
    div#fotolinda > p#esquerda {
        font-size: 6px;
        width: 75px;
        line-height: 2.6em;
        margin-left: -6px;
    }
}

div#fotolinda > p#esquerda > abbr {
    text-decoration: none;
}

div#fotolinda > p#esquerda span:hover {
    color: black;
}

div#fotolinda > img {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px white;
    
}

@media (max-width: 1100px) {
    div#fotolinda > img {
        width: 280px;
    }
}

@media (max-width: 900px) {
    div#fotolinda > img {
        width: 260px;
    }
}

@media (max-width: 790px) {
    div#fotolinda > img {
        width: 220px;
    }
}

@media (max-width: 630px) {
    div#fotolinda > img {
        width: 200px;
    }
}

div#fotolinda > p#direita {
    display: inline-block;
    font-size: 26px;
    width: 342px;
}

@media (max-width: 1100px) {
    div#fotolinda > p#direita {
        font-size: 20px;
        width: 245px;
    }
}

@media (max-width: 900px) {
    div#fotolinda > p#direita {
        font-size: 15px;
        width: 180px;
        line-height: 1.6em;
    }
}

@media (max-width: 790px) {
    div#fotolinda > p#direita {
        font-size: 12px;
        width: 140px;
        line-height: 1.7em;
    }
}

@media (max-width: 630px) {
    div#fotolinda > p#direita {
        font-size: 9px;
        width: 115px;
        line-height: 1.9em;
    }
}

@media (max-width: 500px) {
    div#fotolinda > p#direita {
        font-size: 7px;
        width: 90px;
        line-height: 2.4em;
    }
}

@media (max-width: 450px) {
    div#fotolinda > p#direita {
        font-size: 6px;
        width: 75px;
        line-height: 2.6em;
    }
}

div#fotolinda > p#direita > abbr {
    text-decoration: none;
}

div#fotolinda > p#direita span:hover {
    color: green;
}

div#identidade > ul {
    list-style-position: inside;
    text-align: justify;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    background-color: white;
    box-shadow: 1px 1px 15px black;
    font-family: 'nunito';
    font-size: 20px;
    font-weight: bolder;
}

div#identidade > ul:hover {
    background-color: white;
    box-shadow: 1px 1px 15px black;
}



@media (max-width: 1200px) {
    div#identidade > ul > li {
        font-size: 24px;
    }
}

@media (max-width: 1100px) {
    div#identidade > ul > li {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#identidade > ul > li {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    div#identidade > ul > li {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    div#identidade > ul > li {
        font-size: 20px;
    }
}

@media (max-width: 830px) {
    div#identidade > ul > li {
        font-size: 19px;
    }
}

@media (max-width: 790px) {
    div#identidade > ul > li {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    div#identidade > ul > li {
        font-size: 16px;
    }
}

div#identidade > ul > li#invasor > a {
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

div#identidade > ul > li#invasor > a:hover {
    background-color: black;
}

div#identidade > ul > li#invasor {
    padding: 10px;
}

div#identidade > ul > li#nenem {
    padding: 10px;
}

div#identidade > ul > p {
    font-size: 60px;
    text-align: center;
    color: black;
}

div#hamburguer {
    display: none;
}

div#forte {
    margin-top: 3800px;
    background-image: url("./Momentos/filme.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh !important;
    position: relative;
    box-shadow: 1px 1px 15px black;
}

div#confianca {
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 1px 1px 15px #333333;
    padding: 10px 0px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#confianca > h2 {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

@media (max-width: 1200px) {
    div#confianca > h2 {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#confianca > h2 {
        font-size: 25px;
    }
}

@media (max-width: 850px) {
    div#confianca > h2 {
        font-size: 23px;
    }
}

div#confianca > p {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    letter-spacing: 50px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#confianca > p {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#confianca > p {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    div#confianca > p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#confianca > p {
        font-size: 15px;
    }
}

div#confianca > p#seta {
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}

div#impressao {
    margin-top: 3800px;
    margin-bottom: 7.5px;
}

div#impressao > h2 {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white; 
}

@media (max-width: 1200px) {
    div#impressao > h2 {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#impressao > h2 {
        font-size: 25px;
    }
}

@media (max-width: 850px) {
    div#impressao > h2 {
        font-size: 23px;
    }
}

div#momentosaudade {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

div#momentosaudade:hover > div#hidden {
    display: block;
}

@media (max-width: 1200px) {
    div#momentosaudade {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#momentosaudade {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    div#momentosaudade {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#momentosaudade {
        font-size: 15px;
    }
}

div#hidden {
    margin-top: 30px;
    padding-top: 15px;
    display: none;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 15px #3E4F04;
}

div#hidden > p#chuvinha {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#hidden > p#chuvinha {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#hidden > p#chuvinha {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    div#hidden > p#chuvinha {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#hidden > p#chuvinha {
        font-size: 15px;
    }
}

div#hidden > img {
    display: block;
    max-width: 650px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
}

@media (max-width: 1200px) {
    div#hidden > img {
        width: 500px;
    }
}

@media (max-width: 1000px) {
    div#hidden > img {
        width: 430px;
    }
}

@media (max-width: 700px) {
    div#hidden > img {
        width: 350px;
    }
}

div#hidden > p#seguepassando {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#hidden > p#seguepassando {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#hidden > p#seguepassando {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    div#hidden > p#seguepassando {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#hidden > p#seguepassando {
        font-size: 15px;
    }
}

div#hidden > p#seta {
    font-size: 60px;
    text-align: center;
    color: black;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}

div#missingmore {
    margin-top: 3800px;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.623);
     box-shadow: 1px 1px 15px black;
}

div#missingmore > h2 {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

@media (max-width: 1200px) {
    div#missingmore > h2 {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#missingmore > h2 {
        font-size: 25px;
    }
}

@media (max-width: 850px) {
    div#missingmore > h2 {
        font-size: 23px;
    }
}

div#missingmore > img {
    display: block;
    max-width: 850px;
    height: 450px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

div#missingmore > p#descida {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#missingmore > p#descida {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#missingmore > p#descida {
        font-size: 20px;
    }
}

@media (max-width: 850px) {
    div#missingmore > p#descida {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#missingmore > p#descida {
        font-size: 15px;
    }
}

div#missingmore > p#seta {
    font-size: 60px;
    text-align: center;
    color: black;
    text-shadow: none;
    padding: 0px;
    margin: 0px;
}

div#antespordosol {
    margin-top: 3800px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 15px #595959;
}

div#antespordosol:hover {
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 20px #18AB42;
}

div#antespordosol > h2 {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

@media (max-width: 1200px) {
    div#antespordosol > h2 {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#antespordosol > h2 {
        font-size: 25px;
    }
}

@media (max-width: 850px) {
    div#antespordosol > h2 {
        font-size: 23px;
    }
}

div#pordosol {
    background-image: url("./Momentos/banner.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    padding: 100px 0px;
    margin-top: 100px;
    width: 100%;
    box-shadow: 1px 1px 10px;
}

div#felicitacoes {
    background-image: url("./Momentos/banner.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    min-width: 320px;
    max-width: 700px;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

@media (max-width: 900px) {
    div#felicitacoes {
        width: 600px;
    }
}

@media (max-width: 800px) {
    div#felicitacoes {
        width: 500px;
    }
}

@media (max-width: 700px) {
    div#felicitacoes {
        width: 400px;
    }
}

@media (max-width: 600px) {
    div#felicitacoes {
        width: 350px;
    }
}

@media (max-width: 550px) {
    div#felicitacoes {
        width: 300px;
    }
}

div#felicitacoes > h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    text-align: center;
    padding: 15px;
    margin: -50px -50px 50px -50px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.541);
}

@media (max-width: 600px) {
    div#felicitacoes > h1 {
        font-size: 30px;
    }
}

div#parabens {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 15px 25px;
    min-width: 320px;
    max-width: 450px;
    margin: auto;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.719);
}

@media (max-width: 600px) {
    div#parabens {
        width: 210px;
        padding: 15px;
    }
}

@media (max-width: 550px) {
    div#parabens {
        margin-left: -15px;
    }
}

div#parabens:hover {
    background-color: rgba(0, 0, 0, 0.781);
}

div#parabens > p {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: justify;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px blue;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 900px) {
    div#parabens > p {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    div#parabens > p {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    div#parabens > p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#parabens > p {
        font-size: 15px;
    }
}

div#parabens > p#centroparabens {
    margin-top: 20px;
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 1.5em;
}

@media (max-width: 900px) {
    div#parabens > p#centroparabens {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    div#parabens > p#centroparabens {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    div#parabens > p#centroparabens {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    div#parabens > p#centroparabens {
        font-size: 15px;
    }
}

div#antesmomentos {
    margin-top: 200px;
    margin-bottom: 200px;
}

div#antesmomentos > h2 {
    font-family: 'Orelega One', cursive;
    padding: 0px 120px;
    font-size: 35px;
    text-align: center;
}

@media (max-width: 1200px) {
    div#antesmomentos > h2 {
        font-size: 32px;
    }
}

@media (max-width: 1100px) {
    div#antesmomentos > h2 {
        font-size: 30px;
    }
}

@media (max-width: 1050px) {
    div#antesmomentos > h2 {
        font-size: 28px;
    }
}

@media (max-width: 950px) {
    div#antesmomentos > h2 {
        font-size: 26px;
    }
}

@media (max-width: 900px) {
    div#antesmomentos > h2 {
        font-size: 24px;
    }
}

@media (max-width: 830px) {
    div#antesmomentos > h2 {
        font-size: 23px;
    }
}

@media (max-width: 790px) {
    div#antesmomentos > h2 {
        font-size: 22px;
    }
}

@media (max-width: 700px) {
    div#antesmomentos > h2 {
        font-size: 22px;
    }
}

div#momentos {  
    background-image: url("./Momentos/Dragão.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh !important;
    margin-bottom: 100px;
    position: relative;
    box-shadow: 1px 1px 10px white;
}

div#momentos > h2 {
    color: white;
    font-family: 'nunito';
    font-size: 40px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

div#lembrancas {
    position: relative;
    width: 48%;
    height: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    
}

div#lembrancas > p {
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

div#lembrancas > ul {
    margin: 30px 60px 0px 30px;
    color: white;
    font-family: 'Acme';
    font-size: 18px;
    line-height: 1.5em;
    columns: 1;
}

@media (max-width: 1200px) {
    div#momentos {
    background-image: url("./Momentos/Dragão.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 1100px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 1050px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 950px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 900px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 830px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 790px) {
    div#momentos{
        background-image: url("../Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 700px) {
    div#momentos {
        background-image: url("./Momentos/Dragão.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 1px 1px 10px black;
    }
}

@media (max-width: 560px) {
    div#momentos {
        height: 1100px !important;
    }

    div#lembrancas {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    div#lembrancas > p {
        font-family: 'Acme', sans-serif;
        text-align: justify;
        color: white;
        font-size: 17px;
        line-height: 1.5em;
    }

    div#lembrancas > ul {
        margin: 30px 30px 0px 30px;
        color: white;
        font-family: 'Acme', sans-serif;
        font-size: 15px;
        line-height: 1.2em;
        columns: 2;
    }

    div#lembrancas > ul > li {
        font-size: 15px;
    }
}

@media (max-width: 490px) {
    div#momentos {
        height: 1100px !important;
    }

    div#lembrancas {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    div#lembrancas > p {
        font-family: 'Acme', sans-serif;
        text-align: justify;
        color: white;
        font-size: 15px;
        line-height: 1.5em;
    }

    div#lembrancas > ul {
        margin: 30px 30px 0px 30px;
        color: white;
        font-family: 'Acme', sans-serif;
        font-size: 14px;
        line-height: 1.2em;
        columns: 2;
    }

    div#lembrancas > ul > li {
        font-size: 14px;
    }
}

@media (max-width: 437px) {
    div#momentos {
        height: 1200px !important;
    }

    div#lembrancas {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    div#lembrancas > p {
        font-family: 'Acme', sans-serif;
        text-align: justify;
        color: white;
        font-size: 13px;
        line-height: 1.5em;
    }

    div#lembrancas > ul {
        margin: 30px 30px 0px 30px;
        color: white;
        font-family: 'Acme', sans-serif;
        font-size: 12px;
        line-height: 1.2em;
        columns: 2;
    }

    div#lembrancas > ul > li {
        font-size: 12px;
    }
}

div#lembrancas a {
    text-decoration: none;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

div#lembrancas a:hover {
    background-color: rgba(255, 0, 0, 0.616);
    cursor: pointer;
    text-decoration: underline;
}

div#final {
    margin-bottom: 0px;
    background-image: linear-gradient(#054f77, transparent);}

div#final>h1{
    font-family: 'Orelega One';
    font-size: 80px;
    padding: 10px 0px;
    margin-bottom: 7.5px;
    text-align: center;
    color: white;
}
div#final > h2 {
    font-family: 'nunito';
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

div#final > p {
    color: white;
    font-family: 'nunito';
    font-size: 15px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#final > h2 {
        font-size: 43px;
    }

    div#final > p {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
    div#final > h2 {
        font-size: 41px;
    }

    div#final > p {
        font-size: 22px;
    }
}

@media (max-width: 1050px) {
    div#final > h2 {
        font-size: 39px;
    }

    div#final > p {
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    div#final > h2 {
        font-size: 37px;
    }

    div#final > p {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    div#final > h2 {
        font-size: 35px;
    }
}

@media (max-width: 830px) {
    div#final > h2 {
        font-size: 34px;
    }

    div#final > p {
        font-size: 18px;
    }
}

@media (max-width: 790px) {
    div#final > h2 {
        font-size: 33px;
    }

    div#final > p {
        font-size: 17px;
    }
}

@media (max-width: 700px) {
    div#final > h2 {
        font-size: 33px;
    }

    div#final > p {
        font-size: 15px;
    }
}

div#final > audio {
    display: block;
    max-width: 500px;
    margin: 40px auto 30px auto;
}

div#final > img {
    display: block;
    max-width: 350px;
    margin: 30px auto 0px auto;
}

div#continuacao {
    margin-top: 300px;
    margin-bottom: 200px;
}

div#continuacao > h2 {
    color: white;
    font-family: 'Nunito';
    font-size: 25px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px white;
}

div#continuacao > p {
    color: white;
    font-family: 'nunito';
    font-size: 15px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

@media (max-width: 1200px) {
    div#continuacao > h2 {
        font-size: 32px;
    }

    div#continuacao > p {
        font-size: 27px;
    }
}

@media (max-width: 1100px) {
    div#continuacao > h2 {
        font-size: 30px;
    }

    div#continuacao > p {
        font-size: 24px;
    }
}

@media (max-width: 1050px) {
    div#continuacao > h2 {
        font-size: 28px;
    }

    div#continuacao > p {
        font-size: 22px;
    }
}

@media (max-width: 950px) {
    div#continuacao > h2 {
        font-size: 26px;
    }

    div#continuacao > p {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    div#continuacao > h2 {
        font-size: 24px;
    }
}

@media (max-width: 830px) {
    div#continuacao > h2 {
        font-size: 23px;
    }

    div#continuacao > p {
        font-size: 19px;
    }
}

@media (max-width: 790px) {
    div#continuacao > h2 {
        font-size: 22px;
    }

    div#continuacao > p {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    div#continuacao > h2 {
        font-size: 22px;
    }

    div#continuacao > p {
        font-size: 16px;
    }
}

div#begining {
    padding: 20px 0px;
    margin-bottom: 60px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 10px black;
    width: 100%;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#begining > a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: 'nunito';
    font-size: 30px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    letter-spacing: 50px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}

div#autoria {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

@media (max-width: 850px) {
    div#autoria {
        font-size: 20px;
    }
}

div#autoria > a {
    text-decoration: none;
    color: white;
    padding: 2px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

div#autoria > a:hover {
    text-decoration: underline;
    background-color: red;
}

aside{padding: 20px 0px;
    margin-bottom: 65px;}

aside>div{
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 1px 1px 15px black;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside>div>h2{
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;
    text-shadow: 1px 1px 10px white;
}

aside>div>p{
    color: white;
    font-family: 'nunito';
    font-size: 20px;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-shadow: 1px 1px 8px white;
    letter-spacing: 40px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.5s;
}
